

<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <header class="bg-white border-bottom">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="assets/Images/furlenco-logo.webp" alt="Company Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-clock-o" style="font-size:30px;"></i>
          <span style="font-size: 20px;">Rent</span></a></li>&nbsp;



        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user" style="font-size: 30px;"></i></a></li>&nbsp;

        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-cart"style="font-size: 30px;"></i> </a></li>&nbsp;

        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-heart" style="font-size: 30px;"></i> </a></li>&nbsp;
        <li class="nav-item">
         <form class="form-inline my-2 my-lg-0 navbar-search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            <i class="fas fa-search" style="display: inline;"></i> 
          </button>
        </form>
      </li>
      </ul>

    </div>
  </nav>

</header>

  
</body>
</html>
