<!-- product-list.component.html --><div class="container">
    <div class="container1">
        <div class="row">
          <div class="col-md-4">
          
            <div class="dropdown">
              <div class="filter-dropdown">  
                <select class="form-control button">
                  
                  <option value="" class="abc">Select Sub-Category</option>
                  <option value="sofas">Sofas</option>
                  <option value="coffee_tables">Coffee Tables</option>
               
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          
            <!-- <div class="dropdown">
              <div class="filter-dropdown">
                <select class="form-control Price pl-5" style="margin-left: 25%;">
                  <option value=""> Select Price Range</option>
                  <option value="0-100">0 - 100</option>
                  <option value="101-200">101 - 200</option>
              
                </select>
              </div>
            </div>
          </div> -->
          <div class="col-md-3">
            
            <div class="dropdown">
              <div class="filter-dropdown">
                <select class="form-control button1">
                  <option value="">Select Sorting Option</option>
                  <option value="featu">Featured</option>
                  <option value="low_high">Price: Low to High</option>
                  <option value="high_low">Price: High to Low</option>
                  
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
     
       
    
      <div class="container">
        <section class="product-section">
          <header>
            <h2>Products</h2>
          </header>
          <div class="row">
            <div class="col-lg-3 d-flex" *ngFor="let product of products">
              <article class="product">
                <img [src]="product.image" alt="{{ product.name }}" height="240px" width="240px"class="img-fluid">
                <div class="product-details">
                  <h6>{{ product.name }}</h6>
                  <p>{{ product.price }}</p>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
              </article>
            </div>
          </div>
        </section>
      </div>
      