.navbar {
    background-color: #3ab4ac;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: flex;
  }
  
  .nav-links li a:hover {
    color: #ffcc00;
  }
  